@import '../../assets/styles/index.scss';

._main {
  height:calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  background-color: $black;
}

._content {
  width: 85%;
  display: inline-flex;
}

._leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

._rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

._imageParent {
  width: 90%;
  margin-bottom: 3rem;
  display: block;
  margin-left: auto;
}

._leftText {
  color: $white;
  font-weight: bold;
  font-size: 3.4rem;
  margin-bottom: 1.8rem;
}

._emailInput {
  background-color: $lightGray;
  border: none;
  width: 45%;
  border-radius: 0.625rem;
  padding: 1rem; 
  color: $white;

  &::placeholder {
    color: $white;
    font-family: $muli;
  }
}

._newsletterParent {
  display: flex;
  align-items: center;
}

._emailBtn {
  background-color: $lightWhite;
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem; 
  font-family: $muli;
  border-radius: 0.625rem;
  text-align: center;
  cursor: pointer;
  margin-left: 0.5rem;
  font-weight: 600;
  transition: all 0.6s;

  &:hover {
    background-color: $lightBlue;
    color: $white;
    transition: all 0.6s;
  }
}

._separation {
  margin-bottom: 3rem;
}

@include responsive(medium) {
  ._main {
    height: auto;
    padding-top: 2rem;
  }

  ._content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  } 

  ._leftSide {
    width: 90%;
    margin: auto;
  }
  ._rightSide {
    width: 100%;
  }

  ._newsletterParent {
    display: flex;
    flex-direction: column;
  }

  ._emailInput {
    width: 100%;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem; 
  }

  ._emailBtn {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem; 
  }

  ._leftText {
    font-size: 2.2rem;
  }

  ._imageParent {
    width: 100%;
    margin: auto;
  }
}