@import '../../assets/styles/index.scss';

._main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem 0px 4rem 0px;
  background-color: $black;
}

._title {
  font-size: 3rem;
  font-weight: 800;
}

._iconParent {
  width: 8rem;
  height: 8rem;
}

._itemsParent {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
}

._featuredCard {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

._title {
  font-family: $muli;
  color: $white;
}

@include responsive(medium) {
  ._featuredCard {
    width: 100%;
    margin: 1.5rem 0px 1.5rem 0px;
  }

  ._iconParent {
    width: 6rem;
    height: 6rem;
  }

  ._title {
    text-align: center;
    font-size: 2rem;
  }
}