@import '../../assets/styles/index.scss';

@mixin button($background, $color) { 
  background-color: $background;
  border: none;
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  color: $color;
  font-family: $muli;
  border-radius: 0.625rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.6s;
}

._main {
  background-color: $black;
  height: 4rem;
  width: 100%;
  padding-top: 2rem;
}

._content {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

._logo {
  width: 10rem;
  height: 2rem;
}

._registerBtn {
  @include button($lightBlue, $white);

  &:hover {
    background-color: $lightWhite;
    color: $black;
    transition: all 0.6s;
  }
}

._signUpBtn {
  @include button($lightWhite, $black); 

  &:hover {
    background-color: $lightBlue;
    color: $lightWhite;
    transition: all 0.6s;
  }
}

._contactBtn {
  background-color: transparent;
  color: $white;
  border: none;
  font-family: $muli;
  font-weight: 600;
  transition: all 0.6s;
  cursor: pointer;

  &:hover {
    color: $lightBlue;
    transition: all 0.6s;
  }
}

._toggleParent {
  width: 1.4rem;
  height: 1.4rem;
  display: none;
}

@mixin menuCommon() {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $black;
  height: 100%;
  width: 15rem;
  top: 0px;
  align-items: center;
}

@include responsive(medium) {
  ._toggleParent {
    display: block;
    cursor: pointer;
  }

  ._buttonsParent {
    transform: translateX(-100%);
    left: 0px;
    transition: 0.6s;
    @include menuCommon()
  }

  ._buttonsParentShow {
    transform: translateX(0%);
    display: flex;
    z-index: 999;
    transition:all 0.6s;
    z-index: 999;
    left: 0px;
    @include menuCommon;
  }

  ._contactBtn {
    margin-top: 3rem;
    width: 80%;
  }

   ._signUpBtn, ._registerBtn {
   margin-top: 1rem;
   width: 80%;
  }

  ._logo {
    width: 9rem;
    height: 2rem;
  } 

  ._newStyle {
    transform: translateX(-100%);
    left: 0px;
    @include menuCommon;
    // background-color: red;
  }
}

