@import '../../assets/styles/index.scss';

@mixin button($background, $color) { 
  background-color: $background;
  border: none;
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  color: $color;
  font-family: $muli;
  border-radius: 0.625rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
}

._main {
  background-color: $black;
  height: 4rem;
  width: 100%;
}

._content {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

._logo {
  width: 10rem;
  height: 2rem;
}

._registerBtn {
  @include button($lightBlue, $white);
}

._signUpBtn {
  @include button($lightWhite, $black); 
}

._contactBtn {
  background-color: transparent;
  color: $white;
  border: none;
  font-family: $muli;
  font-weight: 600;
}

